.input, .textarea {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus, .textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input::placeholder, .textarea::placeholder {
  color: #6c757d;
  opacity: 1;
}

.input:disabled, .textarea:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.fullWidth {
  width: 100%;
}
